name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: "0 */3 * * *"
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          COMMIT_MESSAGE: "Updated Stats"
          SHOW_PROFILE_VIEWS: false
          SHOW_OS: false
          SHOW_TIMEZONE: false
          SHOW_EDITORS: false
          SHOW_LOC_CHART: false
          
          
